.footer {
  background-color: #FFFFFF;
}

.img-frame {
  background-color: #FFFFFF;
  width: 100%;
  overflow: hidden;
}

.img-frame img {
  width: 100%;
  height: auto;
}

/* pod zdjeciem */
.visit-info {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10vw;
  margin-right: 7vw;
  border-bottom: 0.1vw solid #ccc;
}

@media (max-width: 768px) {
  .visit-info {
    flex-direction: column;
    align-items: flex-start;
  }
}

.visit-title {
  margin-top: 2vw;
  margin-right: 2vw;
  font-size: 3.5vw;
  font-family: "Poppins";
  font-weight: 600;
  margin-bottom: 1vw;
  margin-top: 0.2vw;
  color: #000000;
}

/* godziny i adres */
.visit-container {
  background-color: #FFFFFF;
  border-radius: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 1vw;
  margin-right: 1vw;
  border-bottom: 0.1vw solid #ccc;
}

@media (max-width: 768px) {
  .visit-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.visit-details {
  display: flex;
  align-items: center;
  margin-left: 10vw;
  padding-bottom: 3vw;
  padding-top: 3vw;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 32vw;
}

.visit-details h1,
.visit-details p {
  font-size: 2vw;
  margin: 0; /* Usuń domyślne marginesy */
}

.visit-details h1 {
  font-family: "Lora";
  font-weight: 600;
  margin-bottom: 0.5vw;
  font-size: 2.5vw;
  color: #000000;
}

.visit-details p {
  font-family: "Poppins";
  font-weight: 600;
  display: inline-block;
  font-size: 1.25vw;
  margin-right: 1vw; /* Odstęp między elementami */
  color: #000000;
}

/* loga z info - to chcemy mieć nałożone na si*/
.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 3vw;
  margin-left: 7vw;
  margin-right: 7vw;
  position: sticky;
}

.logo-container img {
  width: 2.56vw; /*41px*/
  height: 2.66vw; /*43.91px*/
  position: sticky;
}

.vector-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 7vw;
  margin-right: 7vw;
  position: sticky;
}

.vector img {
  width: 2.94vw; /*47px*/
  height: 1.62vw; /*26px*/
  position: sticky;
}

.main-container {
  background-color: #FFFFFF;
  border-radius: 2vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 2vw;
  position: relative;
  margin-bottom: 3vw;
  margin-left: 5vw;
}

.Toy-Piano h3,
.info h3 {
  font-size: 1.25vw; /*20px*/
  font-family: "Poppins";
  font-weight: 500;
  margin-top: 3vw;
  padding-right: 19vw;
  text-align: left;
  color: #000000;
}

.Toy-Piano p,
.info p {
  width: 25.44vw; /*403px*/
  padding-top: 0.5vw;
  font-size: 1vw; /*16px*/
  font-family: "Poppins";
  font-weight: 400;
  text-align: left;
}

.links-container {
  background-color: #FFFFFF;
  border-radius: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3vw;
  margin-right: 2vw; /*15%*/
  position: relative;
  z-index: 3;
  margin-left: 1vw;
}

@media (max-width: 768px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.links-shorts {
  display: flex;
  flex-direction: column;
  color: black;
  padding-top: -1vw;
  padding-right: 2.5vw;
  align-items: flex-start;
}

.links-shorts h3 {
  padding-right: 2.5vw;
  padding-top: 0.2vw;
  font-size: 1.25vw; /*20px*/
  font-family: "Poppins";
  font-weight: 500;
  text-align: justify;
  width: 7.92vw; /*126px*/
  height: 1.75vw; /*28px*/
  color: #000000;
}

.links-shorts a {
  color: black;
  font-size: 1vw; /*16px*/
  font-family: "Poppins";
  font-weight: 400;
  color: #000000;
}

.links-webs {
  display: flex;
  flex-direction: column;
  color: black;
  padding-top: 1.5vw;
  padding-right: 6vw;
  padding-left: 2vw;
}

.links-webs h3 {
  font-size: 1.25vw; /*20px*/
  font-family: "Poppins";
  font-weight: 500;
  width: 10.56vw; /*168px*/
  height: 1.5vw; /*24px*/
  margin-top: -1.1vw;
  color: #000000;
}

.links-webs a {
  display: flex;
  color: black;
  font-size: 1vw; /*16px*/
  font-family: "Poppins";
  font-weight: 400;
  color: #000000;
}

/* biuletyn z prawami */
.footer-container {
  max-width: 1400px;
  width: 100%;
  min-height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  margin-left: 5vw;
  margin-right: 1vw;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-copyright {
  display: flex;
  align-items: center;
  font-size: 0.75vw; /* Zamiast 12px */
  font-family: "Poppins";
  font-weight: 400;
  color: grey;
  margin-right: 0.8vw;
}

.footer-nav {
  display: flex;
  gap: 1.125vw; /*18px*/
}

.footer-nav-item {
  font-size: 0.75vw; /* Zamiast 12px */
  font-family: "Poppins";
  font-weight: 400;
  color: gray;
}

/* End Common */
/* Home */
.visit {
  background-color: #FFFFFF;
}

.about {
  background-color: #FFFFFF;
}

.about-container {
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  padding-top: 16.8571428571vw;
  padding-bottom: 25.8571428571vw;
}

.about-title {
  font-family: "Inter";
  font-size: 5vw; /*80px*/
  font-weight: 700;
  color: black;
  margin-bottom: 4vw;
}

.about-paragraph {
  font-family: "Inter";
  font-size: 2.625vw; /*42px*/
  font-weight: 300;
  line-height: 7vw;
  color: black;
  margin-bottom: 4vw; /*80px*/
}

.project {
  padding-top: 4vw; /*80px*/
  padding-bottom: 6.2857142857vw; /*128px*/
  background-color: #ffffff;
}

.project-container {
  max-width: 100vw; /*1400px*/
  width: 100%;
  margin: 0 auto;
}

.project-title {
  font-family: "Inter";
  font-size: 5vw; /*80px*/
  font-weight: 700;
  color: #000000;
  margin-bottom: 3.5714285714vw; /*50px*/
}

.project-slider {
  height: 23.75vw; /*610px*/
  margin-bottom: 3.5714285714vw; /*50px*/
}

.project-slider .swiper-wrapper {
  height: 21.875vw; /*560px*/
}

.project-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-slider .swiper-pagination {
  bottom: 0px;
}

.project-slider .swiper-pagination-bullet {
  width: 1.25vw; /*20px*/
  height:1.25vw; /*20px*/
  margin: 0 0.5357142857vw; /*6px*/
  opacity: 1;
  background-color: #E2E2E2;
}

.project-slider .swiper-pagination-bullet-active {
  background-color: #C4C4C4;
}

.project-paragraph {
  font-family: "Inter";
  font-size: 1.5vw; /*24px*/
  font-weight: 300;
  line-height: 3.2857142857vw; /*42px*/
  color: #000000;
}

.blog-container {
  max-width: 100vw;  /*1400px*/
  width: 100%;
  margin: 0 auto;
  padding-top: 4vw; /*80px*/
  padding-bottom: 6vw; /*120px*/
}

.blog-title {
  font-family: "Inter";
  font-size: 5vw; /*80px*/
  font-weight: 700;
  color: #000000;
  margin-bottom: 4vw; /*80px*/
}

.blog-items {
  display: flex;
  flex-direction: column;
  gap: 3.8571428571vw;   /*60px*/
}

.blog-item {
  font-family: "Inter";
  font-size: 2.5vw; /*40px*/
  color: #FFFFFF;
}

body.dark-mode {
  background-color: black;
  color: white;
}

body.large-font {
  font-size: 1.5em;
}
