.breadcrumbs {
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #555; 
}
  
.breadcrumbs a {
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
}
  
.breadcrumbs a:hover {
    text-decoration: underline;
    color: black; 
}

.visit-page-title {
    color: #888; 
}
  
.visit-page-container{
  background-color: #FFFFFF;
}

.visit-page-title{
    size:64px;
    font-family: Poppins;
    font-size: 700;
}

.breadcrumbs {
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #555;
  padding-bottom: 20px;
}

.breadcrumbs a {
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: black;
}

.breadcrumbs a:hover {
  text-decoration: underline;
  color: black;
}

.visit-page-title {
  color: #888;
}

.visit-page-container {
  background-color: #FFFFFF;
  max-width: 800px;
  margin: 0 auto;
}

.visit-page::after {
  content: "";
  display: table;
  clear: both;
}

.visit-posts-first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.visit-post-card-image {
  width: 576px;
  height: 392px;
}

.visit-post-card-title1 h3 {
  font-family: Lora;
  font-size: 44px;
  font-weight: 500;
}

.visit-post-card-date1 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.visit-post-card-image[src$="/img/img1.png"] {
  width: 576px;
  height: 392px;
}

.visit-post-card-title2 h3 {
  font-family: Lora;
  font-size: 44px;
  font-weight: 500;
}

.visit-post-card-date2 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.visit-posts-map {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row; 
}

.visit-post-card-image3 {
  width: 558px;
  height: 384px;
}

.visit-post-card-details {
  margin-left: 30px; 
}

.visit-post-card-title3 h1 {
  font-family: Lora;
  font-size: 44px;
  font-weight: 500;
}

.visit-post-card-date3 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
}

.visit-post-card-title4 h2 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
}

.visit-post-card-date4 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
}


