.visit-topic-container{
  margin-left: 10%;
}

.visit-topic-container h1{
  font-family: 'Poppins';
  font-size: 64px;
  font-weight: 700;
  text-align: left;
  width: 1106px;
  height: 77px;
  margin-left: -2%;
}

.visit-page-container{
  margin-left: 10%;
}

.breadcrumbs {
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #555; 
}
  
.breadcrumbs a {
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
}
  
.breadcrumbs a:hover {
    text-decoration: underline;
    color: black; 
}

.visit-page-title {
    color: #888; 
}
  
.visit-page-container{
  background-color: #FFFFFF;
}

.visit-page-title{
    size:64px;
    font-family: 'Poppins';
    font-size: 700;
}

.visit-breadcrumbs1 {
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #555;
  padding-bottom: 20px;
  margin-left: -89%;
}

.visit-breadcrumbs1 a {
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: black;
}

.visit-breadcrumbs1 a:hover {
  text-decoration: underline;
  color: black;
}

.visit-page-title {
  color: #888;
}

.visit-posts-image {
  margin-right: 5%;
  margin-left: 9%;
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(00px, 1fr));
  gap: 22% ;
}

.visit-post-card {
  text-decoration: none; 
  color: black;

}

.visit-post-card-image {
  height: 392px;
}

.visit-post-card {
  color: black;
  padding-top: 5px; 
}

.visit-post-card-title1{
  font-family: 'Lora';
  font-size: 44px;
  font-weight: 500;
  text-align: left;
}

.visit-post-card-date1 {
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.visit-text-card-image{
  width: 482px;
  height: 30px;
}

.strong{
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.visit-post-card-image {
  height: 392px;
}

.visit-post-card-image1{
  height: 392px;
}


.visit-post-card-title2{
  font-family: 'Lora';
  font-size: 44px;
  font-weight: 500;
  text-align: left;
}

.visit-post-card-date2{
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}

.bottom-post-map {
  margin-top: 10%;
  margin-left: 9%;
  margin-right: 10%;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  
}

.visit-posts-map {
  display: flex;
  align-items: center;
}

.visit-post-card-image3 {
  width: 558px;
  height: 384px;

}

.visit-post-card-details {
  margin-left: 30px; 
}

.visit-post-card-title3 {
  font-family: 'Lora';
  font-size: 44px;
  font-weight: 500;
  text-align: left;
}

.visit-post-card-date3 {
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.visit-post-card-title4 {
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.visit-post-card-date4 {
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}


