.about-breadcrumbs1 {
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #555; 
    margin-left: -86%;
}
  
.about-breadcrumbs1 a {
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
}
  
.about-breadcrumbs1 a:hover {
    text-decoration: underline;
    color: black; 
}


.about-posts {
    margin-left: 9%;
    padding: 20px 0;
    background-color: #ffffff;
}



.about-page-title {
    margin-left: 0%;
    font-family: Poppins;
    font-size: 64px;
    font-weight: 700;
    width: 1106px;
    height: 77px;
    margin-left: -30%;
}

.about-posts-items {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto;

    .about-post-card:nth-of-type(1) {
        grid-column: 1;
    }
}

.about-post-card {
    display: block;
    padding: 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    margin-left: -5%;

    &-image {
        width: 100%;
        height: 463px;
        object-fit: cover;
        margin-bottom: 30px;
    }

    &-title {
        font-family: 'Lora';
        font-size: 600;
        size: 54px;
        color: #000000;
        margin-bottom: 20px;
        text-align: left;
    }

    &-date {
        font-family: 'Poppins';
        font-size: 600;
        size: 20px;
        color: black;
        text-align: left;
    }
    
}

.about-posts-items2{
    border-bottom: 1px solid #ccc;

    &-image {
        width: 1,184px;
        height: 400px;
    }
    
    &-title {
        font-family: 'Lora';
        font-size: 500;
        size: 54px;
        color: #000000;
        margin-bottom: 20px;
    }

    &-date {
        font-family: 'Poppins';
        font-size: 500;
        size: 20px;
        color: black;
    }
}

.about-post-card-title{
    font-family: 'Lora';
    font-size: 44px;
    font-weight: 500;
    text-align: left;
}

.about-post-card-date{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}