{{ define "main" }}

<div class="newaudio-page">
    <div class="newaudio-topic-container">
        <h1 class="newaudio-page-title" style="color: #000">Nagrania</h1>
    </div>
    <div class="newaudio-page-container">
        <div class="breadcrumbs">
            <a href="/" style="color: #000;">Strona główna</a> > <span style="color: #888;">Nagrania</span>
        </div>
    </div>

    <div class="newaudio-image-container">
        <img src="/img/blue2.png" alt="newaudio_img" />
    </div>

    

    <div class="newaudio-player-container">

    </div>










{{ end }}