{{ define "main" }}

<div class="audiosfer-page">
    <div class="audiosfer-topic-container">
        <h1 class="audiosfer-page-title" style="color: #000">Perspektywy audiosferyczne</h1>
    </div>
    <div class="audiosfer-page-container">
        <div class="breadcrumbs">
            <a href="/" style="color: #000;">Strona główna</a> > <span style="color: #888;">Perspektywy</span>
        </div>
    </div>

    <div class="audiosfer-grid-container">
        <div class="audiosfer-text-container">
            <h1 class="audiosfer-topic">
                Lorem ipsum dolor sit amet consectetur. Sed posuere egestas neque vel malesuada lacus.
            </h1>
            <br>
            <p>
                Lorem ipsum dolor sit amet consectetur. Volutpat sed sed vestibulum faucibus etiam lobortis quis. Diam pharetra sagittis cras volutpat imperdiet ac semper ut. Dignissim leo eros morbi aliquam gravida imperdiet quisque egestas diam.
            </p>
            <br>
            <p>
                Tincidunt fames tellus imperdiet mauris. Consequat volutpat adipiscing lobortis donec nisl. Quam eu ac congue lorem libero est mauris diam vestibulum. Facilisi mattis integer viverra tincidunt adipiscing sodales integer.
            </p> 
            <br>       
            <p>
                Facilisis imperdiet bibendum nisl nunc porta nisl. Nunc aliquet a tellus euismod eget sit sed turpis. Lectus euismod faucibus auctor dictum at eget amet et. Eu suspendisse aliquam maecenas tellus gravida nisi malesuada malesuada enim. Enim porta tempus ut nulla et.
            </p>
        </div>

        <div class="audiosfer-info-container">
            <h3 class="audiosfer-data">Data</h3><br>
            <p>
                16 — 22 Sierpnia 2022
            </p>
            <br>
            <div class="audiosfer-info-place">
                <h1 class="audiosfer-place1">Miejsce</h1>
                <h3 class="audiosfer-place2">Galeria Toy Piano</h3>
            </div>
            <br>
            <div class="audiosfer-info-person">
                <h1 class="audiosfer-person1">Kurator wystawy</h1>
                <h3 class="audiosfer-person2">Paweł Romańczuk</h3>
            </div>
            <br>
            <div class="audiosfer-info-category">
                <h1 class="audiosfer-category1">Kategoria</h1>
                <h3 class="audiosfer-category2">Wystawa czasowa</h3>
            </div>
        </div>
    </div><br>
  
    <div class="audiosfer-img-container">
        <a class="audiosfer-post-card" href="#" style="color:black">
            <img class="audiosfer-post-card-image1" src="/img/blue.png" />
        </a>
    </div>
    <br>
    <div class="audiosfer-img-text">
        <h1 class="audiosfer-post-card-title1">Dolorunc consectetur</h1><br>
    <p class="audiosfer-post-card-title2">Nunc aliquet a tellus euismod eget sit sed turpis.</p>
    </div>
</div>

{{ end }}
