{{ define "main" }}

<div class="pkp-page">
    <div class="pkp-topic-container">
        <h1 class="pkp-page-title" style="color: #000">Z biletem PKP zniżka na wystawy</h1>
    </div>
    <div class="pkp-page-container">
        <div class="breadcrumbs">
            <a href="/" style="color: #000;">Strona główna</a> > <span style="color: #888;">Aktualności</span>
        </div>
    </div>

    <div class="pkp-text-container">
        <h3>Wszystkich podróżujących liniami PKP Intercity
            zachęcamy do skorzystania z promocji „Następna stacja:
            Wrocławskie Galerie Sztuki”.
        </h3>
        <br><br>

        <p>
            Zwiedzający, którzy odwiedzą Galerię Toy Piano z biletem mogą skorzystać z 20% zniżki na bilety na
            trwające obecnie wystawy czasowe. Do skorzystania z promocji uprawniają bilety zakupione w
            terminie od 7 sierpnia do 10 września 2023.

        </p>
        <br>

        <h4>
            Regulamin promocji dostępny <a class="promotion" href="#" style="color:black">
                TUTAJ.
            </a>
        </h4>

    </div>

        <div class="pkp-post-items-title">
            <h1>Pozostałe aktualności</h1>
        </div>
    
        <div class="pkp-post-grid-container">
            <div class="pkp-post-items-grid">

                <a class="pkp-post-card" href="/pkp/Klawiatura" style="color:black">
                    <img class="pkp-post-card-image1" src="/img/blue.png" />
                    <h3 class="pkp-post-card-title1">Krótsze godziny</h3>
                    <h3 class="pkp-post-card-title2">otwarcia</h3>
                    <div class="pkp-post-card-date">13.10.2023 - 15.01.2024</div>
                </a>

                <a class="pkp-post-card" href="/pkp/Klawiatura" style="color:black">
                    <img class="pkp-post-card-image2" src="/img/blue.png" />
                    <h3 class="pkp-post-card-title1">Krótsze godziny</h3>
                    <h3 class="pkp-post-card-title2">otwarcia</h3>
                    <div class="pkp-post-card-date">13.10.2023 - 15.01.2024</div>
                </a>

                <a class="pkp-post-card" href="/pkp/Klawiatura" style="color:black">
                    <img class="pkp-post-card-image2" src="/img/blue.png" />
                    <h3 class="pkp-post-card-title1">Odwołane</h3>
                    <h3 class="pkp-post-card-title2">warsztaty</h3>
                    <div class="pkp-post-card-date">13.10.2023 - 15.01.2024</div>
                </a>
            </div>
        </div>
    </div>
</div>

{{ end }}