{{ define "main" }}
<div class="instruments-page">
    <div class="instruments-page-container">
        <div class="instruments-page-breadcrumb">
            <h1 class="instruments-page-title" style="color: #000;">Małe instrumenty</h1>
        <div class="breadcrumbs">
            <a href="/" style="color: #000;">Strona główna</a> > <span style="color: #888;">Małe instrumenty</span>
        </div>
        </div>
            
        <div class="background-image">
            <img class="background-image" src="\img\back.png" />
        </div>

    
        <div class="instruments-text2-container">
            <h1>
                Grupa artystyczna koncentrująca się na poszukiwaniach dźwiękowych w sferze profesjonalnych instrumentów o niewielkich rozmiarach, dźwiękowych zabawek.
            </h1><br>

            <p>
                Zespół Małe Instrumenty został założony w 2006 roku przez <strong><a href="/instruments/"style="color:black">Pawła Romańczuka</a></strong>, do którego kolejno dołączali: Marcin Ożóg, Maciek Markowski, Tomasz Orszulak, Jędrek Kuziela, Maciek Bączyk, Magdalena Nekanda-Trepka, Iwona Sztucka i Magda Lipniewska.
            </p>

            <br>

            <p>
                Grupa artystyczna koncentruje się na poszukiwaniach dźwiękowych w sferze profesjonalnych instrumentów o niewielkich rozmiarach, dźwiękowych zabawek, kuriozalnych wynalazków muzycznych i całej masy drobiazgowych przedmiotów wydających dźwięki. W ten sposób konstruowana muzyka eksponuje niepowtarzalny charakter barw, czasem piękny i kunsztowny, czasem zaskakujący i odkrywczy, a czasem ujawnia ułomności brzmienia i cieszy ograniczeniami.
            </p>
        </div>

        <div class="middle-image">
            <img class="middle-image" src="\img\promo-image.png" />
        </div>

        <div class="text-image">
            <p>
                fot. Peter Beym / Zespół Małe Instrumenty
            </p>
        </div>

        <div class="instruments-text3-container">
            <p>W 2008 roku na <strong>29. Przeglądzie Piosenki Aktorskiej we Wrocławiu</strong> otrzymał <strong>Grand Prix</strong> w nurcie Off za spektakl dźwiękowy <strong>"Elektrownia Dźwięku"</strong>. W 2009 roku wspólnie z Pierre'em Bastienem wystąpił z koncertem na <strong>Festiwalu Filmowym "Era Nowe Horyzonty"</strong>, a jesienią następnego roku artyści odbyli wspólną trasę koncertową po Wielkiej Brytanii.</p><br>
            <p>W 2010 roku zespół wziął udział m.in. w festiwalu <strong>"Animator" w Poznaniu</strong>, gdzie grał muzykę do filmów niemych Georgesa Meliesa, w festiwalu <strong>"Kody" w Lublinie</strong>, gdzie odbyła się premiera projektu <strong>"Wyliczanki polskie"</strong> czyli koncertu muzyki do tekstów polskich wyliczanek, a także wyruszył w tournée po Wielkiej Brytanii razem z Pierre'em Bastienem.</p><br>
            <p>"Samoróbka" z 2013 roku została zadedykowana własnoręcznie zbudowanym instrumentom muzycznym. Prace warsztatowe trwały od grudnia 2012 do lipca 2013, zaś ich efektem był zbiór nowych instrumentów. W skład wydawnictwa oprócz płyty weszła także książka Pawła Romańczuka na temat instrumentów zbudowanych w pracowni zespołu oraz podręcznik, dotyczący eksperymentowania z własnymi, nietypowymi muzycznymi konstrukcjami. W wydawnictwie nie mogło także zabraknąć "małego instrumentu" jako takiego - stanowi on grzbiet albumu.</p><br>
            <p>Kolejna płyta <strong>"Kartacz"</strong>, wydana przez Bôłt Records w 2013 roku, to inspirowany kulturą lat 60. i 70. hołd oddany polskiej kinematografii oraz - przede wszystkim - muzyce eksperymentalnej, wraz z jej kolebką, <strong>Eksperymentalnym Polskiego Radia. "Walce w Walce"</strong> (2015) składają się z 13 walców, skomponowanych przez Pawła Romańczyka oraz innych autorów (między innymi Jean-Marca Zelwera), zaś typowym dla Małych Instrumentów gadżetem jest tym razem metalowe pudełko, będące przekrojem walca.
                Materiał muzyczny, który pojawił się na następnym albumie - <strong>"Gruppo di Construzione"</strong> (2017), powstał w oparciu o eksperymenty dźwiękowe, prowadzone w gronie około dwudziestu osób podczas otwartych warsztatów <strong>"Samoróbka"</strong>. Drewniana okładka płyty sama w sobie jest instrumentem.</p><br>
            <p><strong>"Tango"</strong> (2018) jest najdłużej - od 2014 roku - realizowanym projektem Małych Instrumentów. Wchodząca w skład wydawnictwa płyta winylowa jest rzecz jasna przeznaczona do odtwarzania w tradycyjnym gramofonie, jednakże jej okładka może sama w sobie stać się tekturowym odtwarzaczem.</p><br>       
        </div>
        
        <div class="instruments-post-title">
            <h1 class="instruments-post-items-title">Zobacz także</h1>
        </div>
        <div class="instruments-post-items">
            <div class="instruments-post-items">
                <a class="instruments-post-card" href="/history/">
                    <img class="instruments-post-card-image" src="\img\Main_Picture.png" />
                    <h3 class="instruments-post-card-title">Historia</h3>
                </a>

                <a class="instruments-post-card" href="/pawelromanczuk/">
                    <img class="instruments-post-card-image" src="\img\Main_Picture.png" />
                    <h3 class="instruments-post-card-title">Paweł Romańczuk</h3>
                </a>
            </div>
        </div>
    </div>
</div>



{{ end }}