/* Resetowanie domyślnych stylów dla responsywności */
body, h1, p, div, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Dodane media queries dla responsywności */
@media (max-width: 1200px) {
  .events-image-container {
    flex-direction: column;
  }

  .events-posts-items,
  .events-posts-items1,
  .events-posts-items2 {
    flex: 1 0 calc(50% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .events-container,
  .btn {
    flex-direction: column;
  }

  .btn h1 {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .arrow-icon {
    margin-left: 0;
  }

  .events-text-overlay {
    padding: 10px;
  }

  .events-image3 img {
    margin-left: 0;
  }
}

/* Stylizacja sekcji Wydarzenia */
.events {
  background-color: #ffffff;
  padding: 20px;
}

.events-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 9%;
  margin-right: 7%;
}

.topic-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.events-title h1 {
  font-family: 'Lora';
  font-size: 56px;
  font-weight: 600;
  text-align: left;
}

.btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 20px;
}

.btn h1 {
  font-family: 'Lora';
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  margin-right: 20px;
}

.btn span {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 400;
}

.arrow-icon {
  width: 20px;
  height: 20px;
  margin-left: auto;
}

/* Stylizacja pojedynczego wydarzenia w responsywnym układzie flexbox */
.events-image-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 5%;
}

.events-posts-items,
.events-posts-items1,
.events-posts-items2 {
  flex: 1 0 calc(33.333% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}

.events-posts-items1,
.events-posts-items2 {
  flex: 1 0 calc(50% - 10px);
}

.events {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}

.events-image1 {
  width: 576px;
  height: 384px;
}

.events-image2 {
  width: 272px;
  height: 384px;
}

.events-image3 {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.events-image3 img {
  width: 1184px;
  height: 518px;
  object-fit: cover;
}

.events-text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  padding: 5%;
  box-sizing: border-box;
  color: #ffffff;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  transition: opacity 0.3s ease;
}

.events-type,
.events-title,
.events-date,
.events-type1,
.events-type2,
.events-title1,
.events-title2,
.events-date1,
.events-date2 {
  margin-bottom: 10px;
}

.events-type {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.events-type1,
.events-type2 {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 600;
}

.events-title,
.events-title1,
.events-title2 {
  margin-top: 5px;
  font-family: 'Lora';
  text-align: left;
}

.events-title {
  font-size: 56px;
  font-weight: 600;
}

.events-title1 {
  font-size: 44px;
  font-weight: 500;
}

.events-title2 {
  font-size: 28px;
  font-weight: 600;
}

.events-date,
.events-date1,
.events-date2 {
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

/* zmiana kolorów strony i tekstu */
body.dark-mode {
  background-color: black;
  color: white;
}

body.large-font {
  font-size: 1.5em;
}
