/* Resetowanie domyślnych stylów dla responsywności */
body, h1, p, div, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* media queries dla responsywności */
@media (max-width: 1200px) {
  .events-image-container {
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
  }

  .events-posts-items,
  .events-posts-items1,
  .events-posts-items2 {
    flex: 1 0 calc(100% - 10px); 
    margin-right: 0; 
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .events-container,
  .btn {
    flex-direction: column;
  }

  .btn h1 {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .arrow-icon {
    margin-left: 0;
  }

  .events-text-overlay {
    padding: 5% 5% 10%; 
  }

  .events-image3 img {
    margin-left: 0;
  }
}

/* Stylizacja sekcji Wydarzenia */
.events {
  background-color: #ffffff;
  padding: 20px;
}

.events-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8vw;
  margin-right: 8vw;
  flex-direction: row;
}

.topic-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.events-title h1 {
  font-family: 'Lora';
  font-size: 3.5vw; /*56px*/
  font-weight: 600;
  text-align: left;
}

.btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 20px;
}

.btn h1 {
  font-family: 'Lora';
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  margin-right: 20px;
}

.btn span {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 400;
}

.arrow-icon {
  width: 20px;
  height: 20px;
  margin-left: auto;
}


.events-image-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 8vw; 
  margin-right: 5%; 
}

.events-posts-items,
.events-posts-items1,
.events-posts-items2 {
  flex: 1 0 calc(50% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}

.events-posts-items1,
.events-posts-items2 {
  flex: 1 0 calc(100% - 10px); 
}

.events {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}

.events-image1 {
  width: 40vw; 
  height: auto; 
  
}

.events-image2 {
  width: 18vw; 
  height: 27vw; 
}

.events-image3 {
  position: relative;
  overflow: hidden;
  width: 80vw;
  max-width: 100%;
  height: 75vh;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-left: 7%;
}

.events-image3 img {
  width: 80vw;
  height: 70vh; 
  object-fit: cover; 
  max-width: 100%;
}

.events-text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80vw;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  padding: 5%;
  box-sizing: border-box;
  color: #ffffff;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  transition: opacity 0.3s ease;
  margin-bottom: 2.5vw;
  
}

.events-type,
.events-title,
.events-date,
.events-type1,
.events-type2,
.events-title1,
.events-title2,
.events-date1,
.events-date2 {
  margin-bottom: 1vw; 
}

.events-type {
  font-family: 'Poppins';
  font-size: 1vw;
  font-weight: 700;
  text-align: left;
}

.events-type1,
.events-type2 {
  font-family: 'Poppins';
  font-size: 1.6vw; 
  font-weight: 600;
}

.events-title,
.events-title1,
.events-title2 {
  margin-top: 0.5vw;
  font-family: 'Lora';
  text-align: left;
}

.events-title {
  font-size: 4.5vw; 
  font-weight: 600;
}

.events-title1 {
  font-size: 3.4vw; 
  font-weight: 500;
}

.events-title2 {
  font-size: 2.5vw; 
  font-weight: 600;
}

.events-date,
.events-date1,
.events-date2 {
  font-family: 'Poppins';
  font-size: 1.2vw; 
  font-weight: 400;
  text-align: left;
}

/* ustawienie image3 do ekranów mobilnych*/
@media (max-width: 768px) {
  .events-image3 img {
    width: 100%;
    max-height: 35vh; /* Maksymalna wysokość dla ekranów mobilnych */
    object-fit: cover; /* Zachowanie proporcji obrazu */
  }

  .events-text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80vw;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    padding: 5%;
    box-sizing: border-box;
    color: #ffffff;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 35vw;
    transition: opacity 0.3s ease;
    margin-bottom: 40.5vw;
    
  }
}

/* zmiana kolorów strony i tekstu */
body.dark-mode {
  background-color: black;
  color: white;
}

body.large-font {
  font-size: 1.5em;
}
