.welcome {
  background-color: #FFFFFF;
  margin-bottom: 2%;
}

.welcome-flex-container {
  display: flex;
  align-items: center;
  margin-left: 9%;
  margin-top: 3%;
}

.welcome-container {
  text-align: left;
}

.welcome-title {
  font-family: 'Lora';
  font-size: 5vw;
  font-weight: 500;
  text-align: left;
  margin-bottom: -3%;
  color: black;
}

.welcome-title2 {
  font-family: 'Lora';
  font-size: 5vw;
  font-weight: 500;
  text-align: left;
  margin-bottom: 1%; 
  color: black;
}

.welcome-paragraph {
  font-family: 'Poppins';
  font-size: 2vw;
  font-weight: 400;
  text-align: left;
  width: 65%;
  color: #090B0EB2;
}

.welcome-img-container {
  text-align: left;
}

.welcome-img-container img {
  width: 100%; 
  max-width: 100%;
  height: auto;
  margin-right: 5%;
  margin-top: 3%;
  margin-left: -30%;
}

.welcome-cover {
  max-width: 100%;
  height: auto;
}

body.dark-mode {
  background-color: black;
  color: white;
}

body.large-font {
  font-size: 1.5em;
}