.welcome {
    margin-top: 5px;
    position: relative;
    height: calc(100vh - 120px);
    background-color: #FFFFFF; 
}

.welcome-container h1{
  font-family: 'Lora';
  font-size: 96px;
  font-weight: 500;
  width: 503px;
  margin-left: 135px;
  margin-top: 1%;
}

.welcome-paragraph{
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: 400;
  width: 456px;
  margin-left: 30px;
}

.welcome-container {
    position: relative;
    max-width: 1400px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    margin-top: 2px;
    text-align: left;
}

.welcome-paragraph {
  font-size: 24px;
  font-family: "Poppins";
  font-weight: 400;
  color: #000000;
  margin-bottom: 30px;
  margin-left:  10%;
}

  
.welcome-cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
