.welcome {
  background-color: #FFFFFF;
  margin-bottom: 2vw; 
}

.welcome-flex-container {
  display: flex;
  align-items: center;
  margin-left: calc(7vw + 3%); 
  margin-top: 3vw; 
}

.welcome-container {
  text-align: left;
}

.welcome-title {
  font-family: 'Lora';
  font-size: 5vw;
  font-weight: 500;
  text-align: left;
  margin-bottom: -1vw; 
  color: black;
}

.welcome-title2 {
  font-family: 'Lora';
  font-size: 5vw;
  font-weight: 500;
  text-align: left;
  margin-bottom: 1vw; 
  color: black;
}

.welcome-paragraph {
  font-family: 'Poppins';
  font-size: 2vw;
  font-weight: 400;
  text-align: left;
  width: 38vw; 
  color: #090B0EB2;
}

.welcome-img-container {
  text-align: left;
}

.welcome-img-container img {
  width: 44vw; 
  max-width: 100%;
  height: auto;
  margin-right: 5vw;
  margin-top: 3vw; 
  margin-left: 1vw; 
}

.welcome-cover {
  max-width: 100%;
  height: auto;
}

body.dark-mode {
  background-color: black;
  color: white;
}

body.large-font {
  font-size: 1.5em;
}
