.events-page-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

.events-breadcrumbs {
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #555;
    text-align: left;

}

.events-breadcrumbs a {
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
}

.events-breadcrumbs a:hover {
    text-decoration: underline;
    color: black;
}

.events-posts-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    text-align: left;
}

.events-post-card {
    display: block;
    border-bottom: 1px solid #ccc;
}

.events-post-card-image1 {
    width: 576px;
    height: 384px;
}

.events-post-card-image2 {
    width: 272px;
    height: 384px;
}

.events-post-card-image3 {
    width: 1184px;
    height: 518px;
}

.events-post-card-type,
.events-post-card-type3 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.events-post-card-title,
.events-post-card-title1,
.events-post-card-title2,
.events-post-card-title3 {
    font-family: 'Lora', serif;
    font-weight: 500;
}

.events-post-card-title {
    font-size: 44px;
}

.events-post-card-title1,
.events-post-card-title2 {
    font-size: 28px;
}

.events-post-card-title3 {
    font-size: 60px;
    color: white;
}

.events-post-card-date,
.events-post-card-date2 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #666; 
}

.events-post-card-date2,
.events-post-card-type3,
.events-post-card-title3 {
    color: white;
}

/* gradient na całym obrazie */
.events-post-card-image3 {
    width: 1184px;
    height: 518px;
    position: relative;
    overflow: hidden;
}

.events-post-card-image3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)); /* Gradient */
}


.events-post-card-text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    z-index: 2;
}

.events-post-card-type3,
.events-post-card-title3,
.events-post-card-date3 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.events-post-card-type3 {
    font-size: 18px;
    font-weight: 700;
}

.events-post-card-title3 {
    font-size: 60px;
    font-weight: 600;
}

.events-post-card-date3 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}
