{{ define "main" }}

    <div class="blog-posts">
        <div class="blog-posts-container">
            <h1 class="blog-posts-title"></h1>

            <div class="blog-posts-items">

                <a class="blog-post-card" href="/blog/test">
                    <img class="blog-post-card-image" src="/img/blue.png" />
                    <h3 class="blog-post-card-title">Krótsze godziny otwarcia</h3>
                    <div class="blog-post-card-date">13.10.2023 - 15.01.2024</div>
                </a>

                <a class="blog-post-card" href="#">
                    <img class="blog-post-card-image" src="/img/blue.png" />
                    <h3 class="blog-post-card-title">Odwołane warsztaty</h3>
                    <div class="blog-post-card-date">13.10.2023 - 15.01.2024</div>
                </a>

                <a class="blog-post-card" href="#">
                    <img class="blog-post-card-image" src="/img/blue.png" />
                    <h3 class="blog-post-card-title">Z biletem PKP zniżka na wystawy</h3>
                    <div class="blog-post-card-date">13.10.2023 - 15.01.2024</div>
                </a>
            </div>
        </div>
    </div>
    
{{ end }}
