<footer class="footer">
  <div class="visit-info">
      <h1 class="visit-title">Wizyta</h1>
      <a href="/visit" class="btn">
        <span>Zobacz więcej</span>
        <i class="fas fa-arrow-right"></i>
        <img src="\img\Arrow.png" alt="Strzałka" class="arrow-icon">
      </a>
  </div>
      <div class="visit-container">
        <div class="visit-details">
          <div class="opening-hours">
            <h1>Godziny Otwarcia</h1><br>
            <p>Poniedziałek - Piątek: 9:00 - 18:00</p>
            <p>Sobota: 9:00 - 14:00</p>
          </div>
          <div class="adres-title">
            <h1>Adres</h1><br>
            <p>ul. Nowy Świat 1</p>
            <p>50-002 Warszawa</p>
          </div>
        </div>
      </div>

      <div class="main-container">
        <div class="logo-container">
          <img src="/img/logo.png" alt="Logo">
          <div class="vector">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <img src="/img/Vector.png" alt="Vector Logo">
        </div>
        </div>
      
        <div class="part1">
          <div class="Toy-Piano">
            <h3>Galeria Toy Piano</h3>
            <br>
            <p>Ruska 46A</p>
            <p>Wrocław 50 - 079</p>
            <p>Telefon: 777 505 089</p>
          </div>
          <br>
          <div class="info">
            <h3>Ognisko Kultury Plastycznej im. E. Gepperta we Wrocławiu</h3>
            <br>
            <p>Ruska 46A</p>
            <p>Wrocław 50 - 079</p>
            <p>Telefon: 777 505 089</p>
          </div>
        </div>
      
        <div class="links-container">
          <div class="links-shorts">
            <h3>Na skróty</h3><br>
            <a href="/visit" class="item">Wizyta</a><br>
            <a href="/about" class="item">O nas</a><br>
            <a href="/news" class="item">Wydarzenia</a><br>
            <a href="/collection" class="item">Kolekcja</a><br>
            <a href="/library" class="item">Biblioteka</a><br>
          </div><br></br>
          <div class="links-webs">
            <h3>Bądź na bieżąco</h3>
            <a href="https://www.facebook.com" class="web">Facebook</a>
            <a href="https://www.youtube.com/@otwarte.pracownie.wroclaw9575" class="web">Youtube</a>
            <a href="https://www.instagram.com" class="web">Instagram</a>
          </div>
        </div>
      </div>
  
  

  <div class="footer-container">
    <div class="footer-nav">
      <a href="" class="footer-nav-item">Biuletyn Informacji Publicznej</a>
      <a href="" class="footer-nav-item">Regulamin strony</a>
      <a href="" class="footer-nav-item">Deklaracja Dostępności</a>
    </div>
    <p class="footer-copyright">
      © Galeria Toy Piano Wszystkie prawa zastrzeżone
    </p>
  </div>
</footer>

