{{ define "main" }}

<div class="pawelromanczuk-page">
    <div class="pawelromanczuk-page-container">
        <div class="pawelromanczuk-page-breadcrumb">
            <h1 class="pawelromanczuk-page-title" style="color: #000;">Paweł Romańczuk</h1>
        <div class="breadcrumbs">
            <a href="/" style="color: #000;">Strona główna</a> > <span style="color: #888;">Paweł Romańczuk</span>
        </div>
        </div>
            
        <div class="pawelromanczuk-background-image">
            <img class="background-image" src="\img\back.png" />
        </div>

        <div class="pawelromanczuk-text1-container">
            <h1>Paweł Romańczuk</h1>
            <p>
                Muzyk, kompozytor
            </p>
        </div>

        <div class="pawelromanczuk-text2-container">
            <h1>
                <strong>Założyciel wrocławskiej grupy Małe Instrumenty, w ramach której realizuje własne potrzeby artystyczne. Jest autorem muzyki do filmów, spektakli teatralnych.</strong>
            </h1><br>

            <p>
                Założyciel wrocławskiej grupy Małe Instrumenty, w ramach której realizuje własne potrzeby artystyczne. Jest autorem muzyki do filmów, spektakli teatralnych. Buduje własne instrumenty, konstrukcje grające, tworzy instalacje dźwiękowe. W 2010 roku opublikował pierwsze opracowanie historii toy piano. W 2013 napisał podręcznik “Domowe eksperymenty z instrumentami muzycznymi” wydany wraz z albumem Małych Instrumentów “Samoróbka”, poświęcony edukacji w zakresie własnoręcznego budowania eksperymentalnych instrumentów muzycznych.
            </p>

            <br>

            <p>
                Prowadzi warsztaty, prezentacje, wykłady i wystawy związane z instrumentami i eksperymentami dźwiękowymi.
            </p>
        </div><br>

        <div class="pawelromanczuk-text3-container">
            <h1>
                <h1>
                   <strong>“Ludzie często odbierają małe instrumenty przez pryzmat tego, jak te instrumenty wyglądają. Zależy mi na porzucenie tego pierwszego skojarzenia, że to nie jest tylko i wyłącznie jakaś zabawa, nie jest to kabaret, nie jest to muzyka dla dzieci.”</strong>
                </h1>
            </h1>
        </div>

        <div class="pawelromanczuk-text4-container">
            <p>
                Diam netus congue id imperdiet varius massa vestibulum consectetur vulputate. Vulputate nibh varius id donec rhoncus sit fringilla. Elementum non vitae dui risus. Orci aliquam quis placerat lobortis vestibulum aliquet massa. Libero interdum pellentesque lacinia consectetur at vestibulum. Ut sollicitudin nam posuere at integer velit non. Suspendisse orci feugiat ante felis erat eros pretium. Phasellus in donec augue posuere lorem dignissim id velit. Gravida tincidunt consectetur cursus lorem. Aliquet in quam eget habitasse vulputate.
            </p>
            <br>
            <p>
                Tellus consectetur ornare cras velit in pretium nunc nullam. Vulputate fringilla ut venenatis amet diam diam aenean. Turpis urna tempus commodo orci sit varius pulvinar ut massa. Lorem ipsum dolor sit amet consectetur. Dignissim viverra fusce rhoncus lobortis sit praesent ultricies vestibulum. A congue sit varius mauris blandit adipiscing eget morbi.
            </p>
        </div>

        <div class="pawelromanczuk-post-title">
            <h1 class="pawelromanczuk-post-items-title">Zobacz także</h1>
        </div>
        <div class="pawelromanczuk-post-items">
            <div class="pawelromanczuk-post-items">
                <a class="pawelromanczuk-post-card" href="/history/">
                    <img class="pawelromanczuk-post-card-image" src="\img\Main_Picture.png" />
                    <h3 class="pawelromanczuk-post-card-title">Historia</h3>
                </a>

                <a class="pawelromanczuk-post-card" href="/instruments/">
                    <img class="pawelromanczuk-post-card-image" src="\img\Main_Picture.png" />
                    <h3 class="pawelromanczuk-post-card-title">Małe Instrumenty</h3>
                </a>
            </div>
        </div>
    </div>
</div>
{{ end }}
