.pkp-page{
    margin-bottom: 15%;
}

.pkp-topic-container{
    margin-top: 2%;
    margin-left: 10%;
}

.pkp-topic-container h1{
    font-family: "Poppins";
    font-size: 64px;
    font-weight: 700;
    width: 1106px;
    height: 77px;
}

.pkp-page-container{
    margin: 0 auto;
    padding: 20px;
}

.breadcrumbs {
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #555;
}

.breadcrumbs a {
    margin-bottom: 9px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
}

.breadcrumbs a:hover {
    text-decoration: underline;
    color: black;
}

.pkp-text-container{
    margin-left: 10%;
    padding-bottom: 3%;
}

.pkp-text-container h3{
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 600;
    width: 980px;
    text-align: left;
}

.pkp-text-container p{
    font-family: "Lora";
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    width: 980px;
    text-align: left;
}

.pkp-text-container h4{
    font-family: "Lora";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    width: 980px;
    text-align: left;
}

.pkp-text-container a{
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    width: 980px;
}

.pkp-post-items-title{
    margin-left: 10%;
    text-align: left

}


/*grid*/
.pkp-post-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding-left: 9%;
    padding-top: 3%;

}

.pkp-post-items-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.pkp-post-card {
    color: black;
    padding: 10px;
    border-radius: 8px;
}

.pkp-post-card-title1,
.pkp-post-card-title2,
.pkp-post-card-date {
    margin: 5px 0;
}

@media (min-width: 768px) {
    .pkp-post-items-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}



.pkp-posts-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.pkp-post-card {
    display: block;
    border-bottom: 1px solid #ccc;
}

.pkp-post-card-image1 {
    width: 576px;
    height: 384px;
}

.pkp-post-card-image2 {
    width: 272px;
    height: 384px;
}

.pkp-post-card-image3 {
    width: 1184px;
    height: 518px;
}

.pkp-post-card-type,
.pkp-post-card-type3 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.pkp-post-card-title,
.pkp-post-card-title1,
.pkp-post-card-title2,
.pkp-post-card-title3 {
    font-family: 'Lora', serif;
    font-weight: 500;
}

.pkp-post-card-title {
    font-size: 44px;
    
}

.pkp-post-card-title1,
.pkp-post-card-title2 {
    font-size: 28px;
    text-align: left;
}

.pkp-post-card-title3 {
    font-size: 60px;
    color: white;
}

.pkp-post-card-date,
.pkp-post-card-date2 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #666; 
}

.pkp-post-card-date2,
.pkp-post-card-type3,
.pkp-post-card-title3 {
    color: white;
}

.pkp-post-card-image1,
.pkp-post-card-image2{
}


.pkp-post-card-image3 {
    width: 1184px;
    height: 518px;
    position: relative;
    overflow: hidden;
}


.pkp-post-card-type3,
.pkp-post-card-title3,
.pkp-post-card-date3 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.pkp-post-card-type3 {
    font-size: 18px;
    font-weight: 700;
}

.pkp-post-card-title3 {
    font-size: 60px;
    font-weight: 600;
}

.pkp-post-card-date3 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}
