{{ define "main" }}

<div class="news-page">
    <div class="news-page-container">
        <h1 class="news-page-title" style="color: #000">Aktualności</h1>
        <div class="news-page-breadcrumbs">
            <a href="/" style="color: #000;">Strona główna</a> > <span style="color: #888;">Aktualności</span>
        </div>
                <!-- Container 1 -->
                <div class="news-posts-items">
                    <a class="news-post-card" href="/pkp/" style="color:black">
                        <img class="news-post-card-image" src="/img/blue.png" />
                        <h3 class="news-post-card-title">Z biletem PKP zniżka</h3>
                        <h3 class="news-post-card-title">na wystawy</h3><br>
                        <div class="news-post-card-date">13.10.2023 - 15.01.2024</div>
                    </a><br>

                    <a class="news-post-card" href="/news/Klawiatura" style="color:black">
                        <img class="news-post-card-image2" src="/img/blue.png" />
                        <h3 class="news-post-card-title1">Krótsze godziny</h3>
                        <h3 class="news-post-card-title2">otwarcia</h3><br>
                        <div class="news-post-card-date">13.10.2023 - 15.01.2024</div>
                    </a>

                    <a class="news-post-card" href="/news/Klawiatura" style="color:black">
                        <img class="news-post-card-image2" src="/img/blue.png" />
                        <h3 class="news-post-card-title1">Odwołane</h3>
                        <h3 class="news-post-card-title2">warsztaty</h3><br>
                        <div class="news-post-card-date">13.10.2023 - 15.01.2024</div>
                    </a>
                </div>

                <!-- Container 2 -->
                <div class="news-posts-items">
                    <a class="news-post-card" href="/news/Melodie" style="color:black">
                        <img class="news-post-card-image2" src="/img/blue.png" />
                        <h3 class="news-post-card-title">Krótsze godziny</h3>
                        <h3 class="news-post-card-title">otwarcia</h3><br>
                        <div class="news-post-card-date">13.10.2023 - 15.01.2024</div>
                    </a>

                    <a class="news-post-card" href="/news/Klawiatura" style="color:black">
                        <img class="news-post-card-image2" src="/img/blue.png" />
                        <h3 class="news-post-card-title1">Odwołane</h3>
                        <h3 class="news-post-card-title2">warsztaty</h3><br>
                        <div class="news-post-card-date">13.10.2023 - 15.01.2024</div>
                    </a>

                    <a class="news-post-card" href="/news/Klawiatura" style="color:black">
                        <img class="news-post-card-image2" src="/img/blue.png" />
                        <h3 class="news-post-card-title1">Odwołane</h3>
                        <h3 class="news-post-card-title2">warsztaty</h3><br>
                        <div class="news-post-card-date">13.10.2023 - 15.01.2024</div>
                    </a>

                    <a class="news-post-card" href="/news/Klawiatura" style="color:black">
                        <img class="news-post-card-image2" src="/img/blue.png" />
                        <h3 class="news-post-card-title1">Odwołane</h3>
                        <h3 class="news-post-card-title2">warsztaty</h3><br>
                        <div class="news-post-card-date">13.10.2023 - 15.01.2024</div>
                    </a>
                </div>

                <!-- Container 3 -->
                <div class="news-posts-items">
                    <a class="news-post-card" href="/news/Melodie" style="color:black">
                        <img class="news-post-card-image" src="/img/blue.png" />
                        <h3 class="news-post-card-title">Z biletem PKP zniżka</h3>
                        <h3 class="news-post-card-title">na wystawy</h3><br>
                        <div class="news-post-card-date">13.10.2023 - 15.01.2024</div>
                    </a><br>

                    <a class="news-post-card" href="/news/Klawiatura" style="color:black">
                        <img class="news-post-card-image2" src="/img/blue.png" />
                        <h3 class="news-post-card-title1">Krótsze godziny</h3>
                        <h3 class="news-post-card-title2">otwarcia</h3><br>
                        <div class="news-post-card-date">13.10.2023 - 15.01.2024</div>
                    </a>

                    <a class="news-post-card" href="/news/Klawiatura" style="color:black">
                        <img class="news-post-card-image2" src="/img/blue.png" />
                        <h3 class="news-post-card-title1">Odwołane</h3>
                        <h3 class="news-post-card-title2">warsztaty</h3><br>
                        <div class="news-post-card-date">13.10.2023 - 15.01.2024</div>
                    </a>
                </div>
        </div>
    </div>






    

{{ end }}



