{{ define "main" }}

<div class="about-posts">
    <div class="about-posts-container">
        <h1 class="about-page-title" style="color: #000">O nas</h1>
    </div>
    <div class="about-page-container">
        <div class="about-breadcrumbs1"><br>
         <a href="/" style="color: #000;">Strona główna</a> > <span style="color: #888;">O nas</span>
        </div>
    </div>

        <div class="about-posts-items">

            <a class="about-post-card" href="/history/" style="color:black">
                <img class="about-post-card-image" src="/img/blue.png" />
                <h3 class="about-post-card-title">Historia</h3>
                <div class="about-post-card-date">Lorem ipsum dolor sit amet consectetur. Lorem nam nisl sollicitudin sit sed.</div>
            </a>
            <a class="about-post-card" href="/pawelromanczuk/" style="color:black">
                <img class="about-post-card-image" src="/img/blue.png" />
                <h3 class="about-post-card-title">Paweł Romańczuk</h3>
                <div class="about-post-card-date">Lorem ipsum dolor sit amet consectetur. Lorem nam nisl sollicitudin sit sed.</div>
            </a>
        </div>

        <div class="about-posts-items2">
            <a class="about-post-card" href="/instruments/" style="color:black">
                <img class="about-post-card-image" src="/img/blue.png" />
                <h3 class="about-post-card-title">Małe Instrumenty</h3>
                <div class="about-post-card-date">Lorem ipsum dolor sit amet consectetur. Neque augue felis quis nunc vulputate. Orci massa mus nulla massa id tellus justo. </div>
            </a>
        </div>
    </div>
</div>

{{ end }}