{{ define "main" }}

<div class="events-page">
    <div class="events-page-container">
        <h1 class="events-page-title" style="color: #000">Wydarzenia</h1>
        <div class="breadcrumbs">
            <a href="/" style="color: #000;">Strona główna</a> > <span style="color: #888;">Kolekcja</span>
        </div>
                <!-- Container 1 -->
                <div class="events-posts-items">
                    <a class="events-post-card" href="/events/Melodie" style="color:black">
                        <img class="events-post-card-image" src="/img/blue.png" />
                        <h4 class="events-post-card-type">wystawa czasowa</h4>
                        <h3 class="events-post-card-title">Melodie dzieciństwa</h3>
                        <div class="events-post-card-date">13.10.2023 - 15.01.2024</div>
                    </a><br>

                    <a class="events-post-card" href="/events/Klawiatura" style="color:black">
                        <img class="events-post-card-image2" src="/img/blue.png" />
                        <h4 class="events-post-card-type">WARSZTATY</h4>
                        <h3 class="events-post-card-title1">Klawiatura </h3>
                        <h3 class="events-post-card-title2">i dźwięk</h3>
                        <div class="events-post-card-date">13.10.2023 - 15.01.2024</div>
                    </a>

                    <a class="events-post-card" href="/events/Klawiatura" style="color:black">
                        <img class="events-post-card-image2" src="/img/blue.png" />
                        <h4 class="events-post-card-type">WARSZTATY</h4>
                        <h3 class="events-post-card-title1">Klawiatura </h3>
                        <h3 class="events-post-card-title2">i dźwięk</h3>
                        <div class="events-post-card-date">13.10.2023 - 15.01.2024</div>
                    </a>
                </div>

                <!-- Container 2 -->
                <div class="events-posts-items">
                    <a class="events-post-card" href="/audiosfer/">
                        <div class="events-post-card-image3">
                            <div class="events-post-card-text-overlay">
                                <h4 class="events-post-card-type3">wystawa czasowa</h4>
                                <h3 class="events-post-card-title3">Perspektywy audiosferyczne</h3>
                                <div class="events-post-card-date3">13.10.2023 - 15.01.2024</div>
                            </div>
                            <img src="/img/blue.png" alt="Perspektywy audiosferyczne" />
                        </div>
                    </a>
                </div>

                <!-- Container 3 -->
                <div class="events-posts-items">
                    <a class="events-post-card" href="/events/Melodie" style="color:black">
                        <img class="events-post-card-image" src="/img/blue.png" />
                        <h4 class="events-post-card-type">wystawa czasowa</h4>
                        <h3 class="events-post-card-title">Melodie dzieciństwa</h3>
                        <div class="events-post-card-date">13.10.2023 - 15.01.2024</div>
                    </a><br>

                    <a class="events-post-card" href="/events/Klawiatura" style="color:black">
                        <img class="events-post-card-image2" src="/img/blue.png" />
                        <h4 class="events-post-card-type">WARSZTATY</h4>
                        <h3 class="events-post-card-title1">Klawiatura </h3>
                        <h3 class="events-post-card-title2">i dźwięk</h3>
                        <div class="events-post-card-date">13.10.2023 - 15.01.2024</div>
                    </a>

                    <a class="events-post-card" href="/events/Klawiatura" style="color:black">
                        <img class="events-post-card-image2" src="/img/blue.png" />
                        <h4 class="events-post-card-type">WARSZTATY</h4>
                        <h3 class="events-post-card-title1">Klawiatura </h3>
                        <h3 class="events-post-card-title2">i dźwięk</h3>
                        <div class="events-post-card-date">13.10.2023 - 15.01.2024</div>
                    </a>
                </div>
        </div>
    </div>
    
{{ end }}
    