<!-- Wydarzenia -->
<section class="events">
    <div class="events-container">
        <div class="topic-container">
            <div class="event-title">
                <h1>Wydarzenia</h1>
            </div>
        </div>
        <div class="event-title2">
            <a href="/events/" class="btn">
                <span>Zobacz więcej</span>
                    <img src="\img\Arrow.png" alt="Strzałka" class="arrow-icon">
            </a>
        </div>
    </div>
    <br>
        <div class="events-container2">
            <a class="events" href="/audiosfer/">
                <div class="events-image3">
                    <div class="events-text-overlay">
                        <h4 class="events-type">WYSTAWA CZASOWA</h4>
                        <h3 class="events-title">Perspektywy audiosferyczne</h3>
                        <div class="events-date">13.10.2023 - 15.01.2024</div>
                    </div>
                    <img src="/img/blue.png" alt="Perspektywy audiosferyczne" />
                </div>
            </a>
        </div>
        <br><br>
        <div class="events-iamge-container">
            <div class="events-posts-items" style="border-bottom: 1px solid #ccc;">
                <a class="events-posts-item" href="/events/Melodie" style="color:black">
                    <img class="events-image1" src="/img/blue.png" />
                    <h4 class="events-type1">WYSTAWA CZASOWA</h4>
                    <h3 class="events-title1">Melodie dzieciństwa</h3>
                    <div class="events-date1">13.10.2023 - 15.01.2024</div><br>
                </a>
            </div>
            <div class="events-posts-items" style="border-bottom: 1px solid #ccc;">
                <a class="events-posts-item" href="/events/Klawiatura" style="color:black">
                    <img class="events-image2" src="/img/blue.png" />
                    <h4 class="events-type2">WARSZTATY</h4>
                    <h3 class="events-title2">Klawiatura i</h3>
                    <h3 class="events-title2">dźwięk</h3>
                    <div class="events-date2">13.10.2023 - 15.01.2024</div>
                </a>
            </div>

            <div class="events-posts-items" style="border-bottom: 1px solid #ccc;">
                <a class="events-posts-item" href="/events/Klawiatura" style="color:black">
                    <img class="events-image2" src="/img/blue.png" />
                    <h4 class="events-type2">WARSZTATY</h4>
                    <h3 class="events-title2">Klawiatura i</h3>
                    <h3 class="events-title2">dźwięk</h3>
                    <div class="events-date2">13.10.2023 - 15.01.2024</div>
                </a>
            </div>
        </div>
    </div>
</section>

