<!-- Wydarzenia -->
<section class="events">
    <div class="events">
        <div class="topic-container">
            <a href="/events" class="btn">
                <h1>Wydarzenia</h1><br> 
                <span>Zobacz więcej</span>
                <i class="fas fa-arrow-right"></i>
                <img src="\img\Arrow.png" alt="Strzałka" class="arrow-icon">
            </a>
        </div>
        <div class="events-container">
            <div class="project-slider swiper">
                <div class="img">
                <img src="/img/blue.png">
                </div>
                <div class="img-info">
                
                    <div class="audiosfer">
                        Perspektywy audiosferyczne
                    </div>
                    <div class="time">
                        2 Dec 2023 – 28 Apr 2024
                    </div>
                </div>
            </div>
        </div>
        <div class="events-container">
            <div class="grid-container">
                <div class="grid-item news-slider1">
                    <div>
                        <img src="/img/blue.png">
                        <h3 class="imgfir-title">Melodie dzieciństwa</h3>
                        <p>2 Dec 2023 - 28 Apr 2024</p>
                    </div>
                </div>
                <div class="grid-item news-slider2">
                    <div>
                        <img src="/img/blue.png">
                        <h3 class="imgfir-title">Klawiatura i dźwięk</h3>
                        <p>2 Dec 2023 - 28 Apr 2024</p>
                    </div>
                </div>
                <div class="grid-item news-slider3">
                    <div>
                        <img src="/img/blue.png">
                        <h3 class="imgfir-title">Klawiatura i dźwięk</h3>
                        <p>2 Dec 2023 - 28 Apr 2024</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

