<section class="news">
    <div class="news-container">
        <div class="topic-container">
            <div class="event-title">
                <h1>Aktualności</h1>
            </div>
        </div>
        <div class="event-title2">
            <a href="/news/" class="btn">
                <span>Zobacz więcej</span>
                    <img src="\img\Arrow.png" alt="Strzałka" class="arrow-icon">
            </a>
        </div>
    </div>
    <br>
    <div class="news-iamge-container">
        <div class="news-posts-items" style="border-bottom: 1px solid #ccc;">
            <a class="news" href="/news/Melodie" style="color:black">
                <img class="news-image1" src="/img/blue.png" />
                <h1 class="news-type1">Z biletem PKP zniżka na wystawy</h1>
                <div class="news-date1">13.10.2023 - 15.01.2024</div>
            </a>
        </div><br>

        <div class="news-posts-items" style="border-bottom: 1px solid #ccc;">
            <a class="news" href="/news/Klawiatura" style="color:black">
                <img class="news-image2" src="/img/blue.png" />
                <h1 class="news-type1">Krótsze godziny otwarcia</h1>
                <div class="news-date1">13.10.2023 - 15.01.2024</div>
            </a>
        </div>

        <div class="news-posts-items" style="border-bottom: 1px solid #ccc;">
            <a class="news" href="/news/Klawiatura" style="color:black">
                <img class="news-image2" src="/img/blue.png" />
                <h1 class="news-type1">Odwołane warsztaty</h1>
                <div class="news-date1">13.10.2023 - 15.01.2024</div>
            </a>
        </div>

    </div>
</section>
