<!-- Wydarzenia -->
<section class="new">
    <div class="new-container">
        <div class="new-topic-container">
            <div class="new-title">
                <h1>Aktualności</h1>
            </div>
        </div>
        <div class="event-title2">
            <a href="" class="btn">
                <span>Zobacz więcej</span>
                <img src="\img\Arrow.png" alt="Strzałka" class="arrow-icon">
            </a>
        </div>
    </div>
    <br>
    <div class="new-image-container" style="display: flex; flex-wrap: wrap;">
        <div class="new-posts-items" style="border-bottom: 1px solid #ccc; flex: 1 0 calc(50% - 10px); margin-right: 10px;">
            <a class="new-posts-items1" href="" style="color: black; display: flex; flex-direction: column;">
                <img class="new-image1" src="/img/blue.png" />
                <h3 class="new-title1">Z biletem PKP zniżka na wystawy</h3>
                <div class="new-date1">13.10.2023 - 15.01.2024</div><br>
            </a>
        </div>
        
        <div class="new-posts-items" style="border-bottom: 1px solid #ccc; flex: 1 0 calc(25% - 10px); margin-right: 10px;">
            <a class="new-posts-items2" href="" style="color: black; display: flex; flex-direction: column;">
                <img class="new-image2" src="/img/blue.png" />
                <h3 class="new-title2">Krótsze godziny otwarcia</h3>
                <div class="new-date2">13.10.2023 - 15.01.2024</div>
            </a>
        </div>
    
        <div class="new-posts-items" style="border-bottom: 1px solid #ccc; flex: 1 0 calc(25% - 10px);">
            <a class="new-posts-items2" href="" style="color: black; display: flex; flex-direction: column;">
                <img class="new-image2" src="/img/blue.png" />
                <h3 class="new-title2">Odwołane warsztaty</h3>
                <div class="new-date2">13.10.2023 - 15.01.2024</div>
            </a>
        </div>
    </div>
</section>
