<section class="news">
    <div class="news-info">
        <div class="topic-container">
            <div class="topic-container">
                <a href="/events" class="btn">
                    <div class="event-title">
                        <h1>Aktualności</h1>
                    </div>
                    <div class="event-more">
                        <span>Zobacz więcej</span>
                        <img src="\img\Arrow.png" alt="Strzałka" class="arrow-icon">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="news">
        <div class="news-container">
            <div class="grid-container">
                <div class="grid-item news-slider1">
                    <div>
                        <img src="/img/blue.png">
                        <h3 class="imgfir-title">Z biletem PKP zniżka na wystawy</h3>
                        <p>13.10.2023 - 15.01.2024</p>
                    </div>
                </div>
                <div class="grid-item news-slider2">
                    <div>
                        <img src="/img/blue.png">
                        <h3 class="imgfir-title">Krótsze godziny otwarcia</h3>
                        <p>13.10.2023 - 15.01.2024</p>
                    </div>
                </div>
                <div class="grid-item news-slider3">
                    <div>
                        <img src="/img/blue.png">
                        <h3 class="imgfir-title">Odwołane warsztaty</h3>
                        <p>13.10.2023 - 15.01.2024</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
