{{ define "main" }}

<div class="collection-page">
    <div class="collection-page-container">
        <h1 class="collection-page-title" style="color: #000">Kolekcja</h1>
        <div class="breadcrumbs">
            <a href="/" style="color: #000;">Strona główna</a> > <span style="color: #888;">Kolekcja</span>
        </div>

        <div class="collection-text-container">
            <h1>Lorem ipsum dolor sit amet consectetur. Consectetur dui lorem ornare iaculis </h1>

            <div class="collection-text1">
                <p>
                    Lorem ipsum dolor sit amet consectetur. Dignissim viverra fusce rhoncus lobortis sit praesent ultricies vestibulum. A congue sit varius mauris blandit adipiscing eget morbi. Tellus consectetur ornare cras velit in pretium nunc nullam
                </p>
            </div><br>

            <div class="collection-text2">
                <p>
                    Vulputate fringilla ut venenatis amet diam diam aenean. Turpis urna tempus commodo orci sit varius pulvinar ut massa. Vulputate malesuada dignissim lectus nunc netus aliquet. Proin aenean quam arcu hendrerit iaculis faucibus est eu neque. Imperdiet sit auctor vitae justo at. Lobortis lobortis semper suspendisse commodo malesuada.
                </p>
            </div>
        </div>

        <div class="container">
            <div class="collection-images-container">
                <!-- Pierwszy kontener -->
                <div class="collection-post-card">
                    <a href="/pellentsequra/" style="color: #000">
                        <img class="collection-post-card-image" src="/img/red.png" />
                        <h3 class="collection-post-card-title1">Autor nieznany</h3>
                        <h1 class="collection-post-card-title1">Pellentesque</h1>
                        <div class="collection-post-card-type">WYSTAWA STAŁA</div>
                        <div class="collection-post-card-date1">XIX WIEK</div>
                    </a>
                
                </div>
    
                <div class="collection-post-card">
                    <a href="/pellentsequra/" style="color: #000">
                        <img class="collection-post-card-image" src="/img/green.png" />
                        <h3 class="collection-post-card-title1">Autor nieznany</h3>
                    <h1 class="collection-post-card-title1">Pellentesque</h1>
                    <div class="collection-post-card-type">WYSTAWA STAŁA</div>
                    <div class="collection-post-card-date1">XIX WIEK</div>
                    </a>
                </div>
    
                <div class="collection-post-card">
                    <a href="/pellentsequra/" style="color: #000">
                        <img class="collection-post-card-image" src="/img/yellow.png" />
                        <h3 class="collection-post-card-title1">Autor nieznany</h3>
                        <h1 class="collection-post-card-title1">Pellentesque</h1>
                        <div class="collection-post-card-type">WYSTAWA STAŁA</div>
                        <div class="collection-post-card-date1">XIX WIEK</div>
                    </a>
                </div>
            </div>
    
            <div class="collection-images-container">
                <!-- Drugi kontener -->
                <div class="collection-post-card">
                    <a href="#">
                        <img class="collection-post-card-image" src="/img/yellow.png" />
                    </a>
                    <h3 class="collection-post-card-title1">Autor nieznany</h3>
                    <h1 class="collection-post-card-title1">Pellentesque</h1>
                    <div class="collection-post-card-type">WYSTAWA STAŁA</div>
                    <div class="collection-post-card-date1">XIX WIEK</div>
                </div>
    
                <div class="collection-post-card">
                    <a href="#">
                        <img class="collection-post-card-image" src="/img/green.png" />
                    </a>
                    <h3 class="collection-post-card-title1">Autor nieznany</h3>
                    <h1 class="collection-post-card-title1">Pellentesque</h1>
                    <div class="collection-post-card-type">WYSTAWA STAŁA</div>
                    <div class="collection-post-card-date1">XIX WIEK</div>
                </div>
    
                <div class="collection-post-card">
                    <a href="#">
                        <img class="collection-post-card-image" src="/img/orange.png" />
                    </a>
                    <h3 class="collection-post-card-title1">Autor nieznany</h3>
                    <h1 class="collection-post-card-title1">Pellentesque</h1>
                    <div class="collection-post-card-type">WYSTAWA STAŁA</div>
                    <div class="collection-post-card-date1">XIX WIEK</div>
                </div>
            </div>
    
            <div class="collection-images-container">
                <!-- Trzeci kontener -->
                <div class="collection-post-card">
                    <a href="#">
                        <img class="collection-post-card-image" src="/img/orange.png" />
                    </a>
                    <h3 class="collection-post-card-title1">Autor nieznany</h3>
                    <h1 class="collection-post-card-title1">Pellentesque</h1>
                    <div class="collection-post-card-type">WYSTAWA STAŁA</div>
                    <div class="collection-post-card-date1">XIX WIEK</div>
                </div>
    
                <div class="collection-post-card">
                    <a href="#">
                        <img class="collection-post-card-image" src="/img/green.png" />
                    </a>
                    <h3 class="collection-post-card-title1">Autor nieznany</h3>
                    <h1 class="collection-post-card-title1">Pellentesque</h1>
                    <div class="collection-post-card-type">WYSTAWA STAŁA</div>
                    <div class="collection-post-card-date1">XIX WIEK</div>
                </div>
    
                <div class="collection-post-card">
                    <a href="#">
                        <img class="collection-post-card-image" src="/img/orange.png" />
                    </a>
                    <h3 class="collection-post-card-title1">Autor nieznany</h3>
                    <h1 class="collection-post-card-title1">Pellentesque</h1>
                    <div class="collection-post-card-type">WYSTAWA STAŁA</div>
                    <div class="collection-post-card-date1">XIX WIEK</div>
                </div>
            </div>
        </div>
    </div>   
</div>


    




























{{ end }}