{{ define "main" }}

<div class="bookshelf-page">
    <div class="bookshelf-topic-container">
        <h1 class="bookshelf-page-title" style="color: #000">Księgozbiór</h1>
    </div>
    <div class="bookshelf-page-container">
        <div class="breadcrumbs">
            <a href="/" style="color: #000;">Strona główna</a> > <span style="color: #888;">Księgozbiór</span>
        </div>
    </div>

    <div class="container">
        <div class="bookshelf-images-container">
            <!-- Pierwszy kontener -->
            <div class="bookshelf-post-card">
                <a href="#" style="color: #000">
                    <img class="bookshelf-post-card-image1" src="/img/Image_Book5.png" />
                    <h3 class="bookshelf-post-card-title1">Jan Kowalski</h3>
                    <h1 class="bookshelf-post-card-title1">Tytuł książki</h1>
                </a>
            
            </div>

            <div class="bookshelf-post-card">
                <a href="#" style="color: #000">
                    <img class="bookshelf-post-card-image2" src="/img/Image_Book4.png" />
                    <h3 class="bookshelf-post-card-title1">Jan Kowalski</h3>
                    <h1 class="bookshelf-post-card-title1">Tytuł książki</h1>
                </a>
            </div>

            <div class="bookshelf-post-card">
                <a href="#" style="color: #000">
                    <img class="bookshelf-post-card-image3" src="/img/Image_Book3.png" /><br>
                    <h3 class="bookshelf-post-card-title1">Jan Kowalski</h3>
                    <h1 class="bookshelf-post-card-title1">Tytuł książki</h1>
                </a>
            </div>
        </div>
    </div>
        <br>

    
    <div class="container2">
            <div class="bookshelf-images-container2">
                <!-- Drugi kontener -->
                <div class="bookshelf-post-card1">
                    <a href="/fermentum/" style="color: #000">
                        <img class="bookshelf-post-card-image4" src="/img/Image_Book2.png" />
                        <h3 class="bookshelf-post-card-title1">Jan Kowalski</h3><br>
                        <h1 class="bookshelf-post-card-title2">Sed fermentum adipiscing nulla </h1>
                    </a>
                
                </div>
    
                <div class="bookshelf-post-card2">
                    <a href="#" style="color: #000">
                        <img class="bookshelf-post-card-image5" src="/img/Image_Book1.png" />
                        <h3 class="bookshelf-post-card-title1">Jan Kowalski</h3>
                        <h1 class="bookshelf-post-card-title1">Tytuł nagrania</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <div class="bookshelf-images-container">
            <!-- Pierwszy kontener -->
            <div class="bookshelf-post-card">
                <a href="#" style="color: #000">
                    <img class="bookshelf-post-card-image6" src="/img/blue2.png" />
                    <h3 class="bookshelf-post-card-title1">Jan Kowalski</h3>
                    <h1 class="bookshelf-post-card-title1">Tytuł nagrania</h1>
                </a>
            
            </div>

            <div class="bookshelf-post-card">
                <a href="#" style="color: #000">
                    <img class="bookshelf-post-card-image6" src="/img/blue2.png" />
                    <h3 class="bookshelf-post-card-title1">Jan Kowalski</h3>
                    <h1 class="bookshelf-post-card-title1">Tytuł nagrania</h1>
                </a>
            </div>

            <div class="bookshelf-post-card">
                <a href="#" style="color: #000">
                    <img class="bookshelf-post-card-image6" src="/img/blue2.png" /><br>
                    <h3 class="bookshelf-post-card-title1">Jan Kowalski</h3>
                    <h1 class="bookshelf-post-card-title1">Tytuł nagrania</h1>
                </a>
            </div>
        </div>
    </div>
        <br><br>
</div>























{{ end }}
