{{ define "main" }}

<div class="visit-page">
    <div class="visit-page-container">
        <h1 class="visit-page-title" style="color: #000">Wizyta</h1>
        <div class="breadcrumbs">
            <a href="/" style="color: #000;">Strona główna</a> > <span style="color: #888;">Wizyta</span>
        </div>
        <div class="visit-posts-first">
            <a class="visit-post-card" href="#" style="color:black">
                <img class="visit-post-card-image" src="/img/img2.png" />
                <div>
                    <h3 class="visit-post-card-title1">Godziny otwarcia</h3>
                    <div class="visit-post-card-date1">poniedziałek - nieczynne</div>
                    <div class="visit-post-card-date1">wtorek — piątek - 10:00 — 16:00</div>
                    <div class="visit-post-card-date1">sobota — niedziela - 10:00 — 17:00</div>
                </div>
            </a>
                
            
            <a class="visit-post-card" href="#" style="color:black">
                <img class="visit-post-card-image" src="/img/img1.png" />
                <div>
                    <h3 class="visit-post-card-title2">Kontakt</h3>
                    <div class="visit-post-card-date2">Telefon: +48 777 505 089</div>
                    <div class="visit-post-card-date2">e-mail: galeriatoypiano@gmail.com</div>
                </div>
            </a>
            

        </div><br><br>

        <div class="visit-posts-map">
            <img class="visit-post-card-image3" src="/img/map.png" />
            <div>
            <h1 class="visit-post-card-title3">Jak nas znaleźć</h1>
            <div class="visit-post-card-date3">Lorem ipsum dolor sit amet consectetur. Vel mauris ut ac ac arcu dictum.</div><br>
            <h2 class="visit-post-card-title4">Ruska 46A</h2>
            <div class="visit-post-card-date4">Wrocław 50-079</div>
            </div>
        </div>
    </div>
</div>
    

{{ end }}