{{ define "main" }}

<div class="visit-page">
    <div class="visit-topic-container">
        <h1 class="visit-page-title" style="color: #000">Wizyta</h1>
    </div>
    <div class="visit-page-container">
        <div class="visit-breadcrumbs1"><br>
         <a href="/" style="color: #000;">Strona główna</a> > <span style="color: #888;">Wizyta</span>
        </div>
    </div>


    <div class="visit-posts-image">
        <div class="visit-posts-first">
            <a class="visit-post-card" href="#" style="color:black">
                <img class="visit-post-card-image" src="/img/img2.png" />
                <div class="visit-text-card-image"><br>
                    <h3 class="visit-post-card-title1">Godziny otwarcia</h3><br>
                    <div class="visit-post-card-date1">Czwartek<strong> 14:00 — 19:00 </strong></div>
                    <div class="visit-post-card-date1">Sobota<strong> 12:00 — 18:00 </strong></div>
                    <div class="visit-post-card-date1">Niedziela<strong> 12:00 — 18:00 </strong></div>
                </div>
            </a>
        </div><br>
        <div class="visit-posts-second">
            <a class="visit-post-card" href="#" style="color:black">
                <img class="visit-post-card-image1" src="/img/img1.png" />
                <div class="visit-text-card-image"><br>
                    <h3 class="visit-post-card-title2">Kontakt</h3><br>
                    <div class="visit-post-card-date2">Telefon: <strong>+48 607 320 564</strong></div>
                    <div class="visit-post-card-date2">e-mail: <strong>Kontakt@toypiano.PL</strong></div>
                </div>
            </a>
        </div>

    </div>
    <br>

    <br>

    <div class="bottom-post-map">
        <div class="visit-posts-map">
            <img class="visit-post-card-image3" src="/img/map.png" />
        </div>
        <div class="visit-text-map"><br>
            <h1 class="visit-post-card-title3">Jak nas znaleźć</h1>
            <div class="visit-post-card-date3">Lorem ipsum dolor sit amet consectetur. Vel mauris ut ac ac arcu dictum.</div><br>
            <h1 class="visit-post-card-title4">Ruska 46A</h1>
        <div class="visit-post-card-date4">Wrocław 50-079</div>
    </div>
    
</div>
    

{{ end }}